:root {
  --accent-color: #8388cf;
  --primary-bg-color: #92a4fd;
  --accent-dark-color: #7079fe;
  --accent-light-color: #9ac5fe;
  --btn-color: #b0c5fd;
  --link-active-color: #2f281e;
  --main-light-color: #ffffff;
  --btn-active: #767ab3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
}

.h2 {
  color: var(--link-active-color);
}

.header {
  display: flex;
  height: 80px;
  background-color: var(--accent-color);
}

.header__content {
  width: 1440px;
  max-width: 100%;
  padding: 0 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  gap: 40px;
}

.link {
  color: var(--main-light-color);
}

.link:hover {
  color: var(--link-active-color);
}

.btn {
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.btn_theme {
  width: 40px;
  background-color: var(--btn-color);
  border-radius: 50%;
}

.btn_buy {
  background-color: var(--accent-color);
  color: var(--main-light-color);
  border-radius: 30px;
}

.btn_up {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.btn_up__img {
  width: 24px;
  height: 24px;
}

.btn_buy:hover {
  background-color: var(--primary-bg-color);
}

.btn_buy:active {
  background-color: var(--btn-active);
}

.main {
  width: 1440px;
  max-width: 100%;
  margin: auto;
  padding: 40px;
}

.cards {
  margin: 40px 0;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
